{% extends "layout.html" %}

{% block content %}
  <h4>Files in blog</h4>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
<table>
  <thead>
    <tr>
      <td>
        <b>Page</b>
      </td>
      <td>
        <b>Action</b>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
      <tr><td>{{file.split(ldir)[1].split('.md')[0]}}</td><td><a href="/edit-page?f={{file}}">[Edit]</a></td></tr>

    {% endfor %}
  </tbody>
</table>
  <br/>
{% endblock %}
